@model IndexViewModel
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Home page";
}

@if (User.IsInRole("admin"))
{
    <div class="navbar">
        <div class="navbar-nav">
            <a class="btn btn-primary glyphicon glyphicon-hand-up" asp-area="Admin" asp-controller="Manufacturer" asp-action="AddManufacturer">Add manufacturer</a>
        </div>

        <div class="navbar-nav">
            <a class="btn btn-primary glyphicon glyphicon-hand-up" asp-area="Admin" asp-controller="Product" asp-action="AddProduct">Add product</a>
        </div>
    </div>
}



@if (Model.PageInfo.HasPreviousPage)
{
    <a asp-area="Customer" asp-controller="Home" asp-action="Index"
       asp-route-page="@(Model.PageInfo.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageInfo.HasNextPage)
{
    <a asp-area="Customer" asp-controller="Home" asp-action="Index"
       asp-route-page="@(Model.PageInfo.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}