@model RegisterModel
 
 <div class="row align-items-center h-100">
    <form method="post" asp-action="Register" asp-controller="Account" asp-area="Identity" asp-anti-forgery="true" class="col-4 mx-auto">

        <h2 class="text-center">Register</h2>

        <div class="validation" asp-validation-summary="ModelOnly"></div>

        <div>
            <div class="form-outline mb-4">
                <input type="email" asp-for="Email" id="emil" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email" class="field-validation-error text-danger"/>
            </div>

            <div class="form-outline mb-4">
                <input type="text" asp-for="Address" id="address" class="form-control" placeholder="Address"/>
                <span asp-validation-for="Address" class="field-validation-error text-danger"/>
            </div>

            <div class="form-outline mb-4">
                <input type="text" asp-for="FullName" id="full-name" class="form-control" placeholder="Full name"/>
                <span asp-validation-for="FullName" class="field-validation-error text-danger"/>
            </div>

            <div class="form-outline mb-4">
                <input type="password" asp-for="Password" id="password" class="form-control" placeholder="Password"/>
                <span asp-validation-for="Password" class="field-validation-error text-danger"/>
            </div>

            <div class="form-outline mb-4">
                <input type="password" asp-for="ConfirmPassword" id="confirm-password" class="form-control" placeholder="Confirm password"/>
                <span asp-validation-for="ConfirmPassword" class="field-validation-error text-danger"/>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>

            <div class="text-center">
                <p>Already a member? <a asp-action="Login" asp-controller="Account" asp-area="Identity">Login</a></p>
            </div>

        </div>
    </form>
</div>

@section  Scripts{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
}
